<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Selfish Steel Manatee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="../static/download.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../static/CSS/style.css" />
    <div>
      <link href="../static/CSS/hero17.css" rel="stylesheet" />
      <div class="hero17-header78">
        <div class="hero17-column thq-section-padding thq-section-max-width">
          <div class="hero17-content1">
            <h1>
              <fragment class="hero17-fragment4">
                <h1 class="hero17-text8 thq-heading-1">
                  Professional Phishing Detection Service
                </h1>
              </fragment>
            </h1>
            <p>
              <fragment class="hero17-fragment2"></fragment>
            </p>
            <p class="hero17-text6 thq-body-large">
              Protect your online presence with our advanced AI-powered phishing
              detection service. Scan URLs instantly for potential threats and
              stay secure.
            </p>

            <p></p>
          </div>
          <div class="hero17-actions">
            <button class="thq-button-filled hero17-button1">
              <span>
                <fragment class="hero17-fragment1">
                  <a href="{% url 'Signup' %}">
                  <span class="hero17-text5 thq-body-small">Get Started</span>
                  </a>
                </fragment>
              </span>
            </button>
            <button class="thq-button-outline hero17-button2">
              <span>
                <fragment class="hero17-fragment3">
                  <span class="hero17-text7 thq-body-small">Learn More</span>
                </fragment>
              </span>
            </button>
          </div>
        </div>
        <div class="hero17-content2">
          <div
            class="hero17-row-container1 thq-mask-image-horizontal thq-animated-group-container-horizontal"
          >
            <div class="thq-animated-group-horizontal">
              <img
                alt="Shield icon representing security"
                src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzU5M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image10 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Illustration of AI technology"
                src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzYwN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image11 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzYyMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image12 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzY0NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image13 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzY3NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image14 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1506645292803-579c17d4ba6a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzc5N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image15 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
            <div class="thq-animated-group-horizontal">
              <img
                alt="Shield icon representing security"
                src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzU5M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image16 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Illustration of AI technology"
                src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzYwN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image17 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzYyMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image18 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzY0NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image19 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzY3NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image20 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1534312527009-56c7016453e6?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIxfHxhYnN0cmFjdHxlbnwwfHx8fDE3MTA4NzA5MzB8MA&amp;ixlib=rb-4.0.3&amp;w=1500"
                class="hero17-placeholder-image21 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
          </div>
          <div
            class="hero17-row-container2 thq-mask-image-horizontal thq-animated-group-container-horizontal"
          >
            <div class="thq-animated-group-horizontal-reverse">
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1485988412941-77a35537dae4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzU0Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image22 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1552664730-d307ca884978?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzU2N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image23 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzU4MHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image24 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1561736778-92e52a7769ef?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzgzMnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image25 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1666875758412-5957b60d7969?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzg0N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image26 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1476357471311-43c0db9fb2b4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzg4OXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image27 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
            <div class="thq-animated-group-horizontal-reverse">
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1485988412941-77a35537dae4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzU0Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image28 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1552664730-d307ca884978?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzU2N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image29 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzU4MHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image30 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1561736778-92e52a7769ef?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzgzMnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image31 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1666875758412-5957b60d7969?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyODIwMzg0N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="hero17-placeholder-image32 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1568214379698-8aeb8c6c6ac8?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEyfHxncmFmaWN8ZW58MHx8fHwxNzE1Nzk0OTk5fDA&amp;ixlib=rb-4.0.3&amp;w=1500"
                class="hero17-placeholder-image33 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
          </div>
        </div>
        <div>
          <div class="hero17-container2">
            <style>
              @keyframes scroll-x {
                from {
                  transform: translateX(0);
                }
                to {
                  transform: translateX(calc(-100% - 16px));
                }
              }

              @keyframes scroll-y {
                from {
                  transform: translateY(0);
                }
                to {
                  transform: translateY(calc(-100% - 16px));
                }
              }
            </style>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
